name: Flutter Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_windows:
    runs-on: windows-2025

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Install dependencies libmpv_dart
        run: dart run libmpv_dart:setup --platform windows 

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests
        run: flutter test
